* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p, label, a, h1 {
    font-family: 'VT323', monospace;
    color: #89BFE2;
}

h1 {
    color: #A439D7;
    text-align: center;
    font-size: 4em;
}

.titleContainer {
    grid-area: title;
}

.pageContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 25px;
    grid-template-areas:
    "header"
    "title"
    "main"
    "footer";
}

.mainBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "bio pfp"
    "nickname gender";
    text-align: center;
    font-size: 20px;
    grid-area: main;
}

.mainBody p {
    text-align: left;
    grid-area: main;
}

footer, footer p {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #5C5C5C;
    color: white;
    grid-area: footer;
}

html {
    background-color: #1F1F1F;
}/*#F7E8FD#8844D5*/

.linkContainer {
    grid-area: header;
    display: flex;
    background-color: #5C5C5C;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
}

#bioBox, #pfpBox, #genderBox, #nickBox {
    background-color: #1F1F1F;
    border: 1px solid #89BFE2;
    box-sizing: border-box;
    box-shadow: 4px 4px 6px 3px rgba(137, 191, 226, 0.8);
    color: #89BFE2;
}

#bioBox {
    grid-area: bio;
}
#pfpBox {
    grid-area: pfp;
}
#nickBox {
    grid-area: nickname;
}
#genderBox {
    grid-area: gender;
}

label {
    padding-left: 5px;
}

input {
    float: left;
    width: 95%;
    margin-left: 2%;
}

.inputContainer {
    margin-top: 2%;
}

#creationButton {
    float: left;
    margin: 2% 50% 0 35%;
    background-color: #5C5C5C;
    color: #89BFE2;
    align-self: center;
    width: 30%;
    height: 30%;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}

@media all and (min-width: 320px) {

    .mainBody {
        grid-gap: 15px;
        margin-left: 3%;
        width: 320px;
    }

    .mainBody p {
        font-size: 15px;
    }

    #creationButton {
        margin: 2% 50% 0 25%;
        width: 50%;
        height: 50%;
    }

    .pictureSelector {
        margin: 15px 0 0 10%;
    }

    .linkContainer {
        width: 100vw;
        height: 60px;
        font-size: 24px;
        float: none;
        margin: 0 0 0 0;
    }

    #bioBox, #pfpBox, #genderBox, #nickBox {
        width: 150px;
        height: 300px;
        font-size: 18px;
    }

}

@media all and (min-width: 768px) {

    .mainBody {
        grid-gap: 25px;
        margin-left: 8%;
        width: 720px;
    }

    .mainBody p {
        font-size: 20px;
    }

    #creationButton {
        margin: 2% 50% 0 25%;
        width: 50%;
        height: 50%;
    }

    .pictureSelector {
        margin: 15px 0 0 10%;
    }

    .linkContainer {
        width: 100vw;
        height: 60px;
        font-size: 24px;
        float: none;
        margin: 0 0 0 0;
    }

    #bioBox, #pfpBox, #genderBox, #nickBox {
        width: 250px;
        height: 300px;
        font-size: 18px;
    }

}

@media all and (min-width: 1024px) {

    .mainBody {
        margin-left: 15%;
    }

    #creationButton {
        margin: 2% 50% 0 35%;
        width: 30%;
        height: 30%;
    }

    .pictureSelector {
        margin: 15px 0 0 25%;
    }

    .linkContainer {
        width: 500px;
        height: 60px;
        font-size: 24px;
        float: right;
        margin: 50px 260px 0 0;
    }

    #bioBox, #pfpBox, #genderBox, #nickBox {
        width: 350px;
        height: 300px;
        font-size: 20px;
    }

}

@media all and (min-width: 1440px) {

    .linkContainer {
        width: 500px;
        height: 60px;
        font-size: 24px;
        float: right;
        margin: 50px 70px 0 0;
    }

    #bioBox, #pfpBox, #genderBox, #nickBox {
        width: 500px;
        height: 200px;
        font-size: 20px;
    }

}
