* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
}

@keyframes glow {
    to {
        opacity: 0;
    }
}

p, label, a, h1 {
    font-family: 'VT323', monospace;
    color: #89BFE2;
}

h1 {
    color: #A439D7;
    font-size: 4em;
}

.mainBody {
    margin-left: 25%;
    text-align: center;
    font-size: 20px;
    grid-area: main;
    width: 720px;
}

.mainBody p {
    text-align: left;
    font-size: 30px;
    grid-area: main;
}

.mainBodyLoggedIn {
    text-align: center;
    font-size: 30px;
    grid-area: games;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 25px;
    grid-template-areas:
    "Favorites"
    "Divider"
    "Games";
}

.Favorites {
    grid-area: Favorites;
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 25px;
    grid-template-areas:
    "favoriteLabel favorited favorited favorited";
}
.favoriteLabel {
    display: flex;
    width: 75px;
    height: 175px;
    margin-left: 15px;
    background-color: #5C5C5C;
    grid-area: favoriteLabel;
}
.favorited {
    grid-area: favorited;
}
.favStarUnchecked {
    background: url(../img/FavStar.png);
    filter: grayscale(100%);
    border: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 130px;
    left: 80px;
}

.favStarChecked {
    background: url(../img/FavStar.png);
    filter: grayscale(0%);
    border: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 130px;
    left: 80px;
}

.Games {
    grid-area: Games;
    margin-bottom: 50px;
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 25px;
    grid-template-areas:
    "gameLabel game game game";
}
.gameLabel {
    display: flex;
    width: 75px;
    margin-left: 15px;
    background-color: #5C5C5C;
    grid-area: gameLabel;
}
.game {
    grid-area: game;
}

.labelText {
    transform: rotate(-90deg);
    position: absolute;
    margin-top: 75px;
    margin-left: -15px;
}

.Divider {
    border-top: 3px solid #bbb;
    width: 95%;
    margin-left: 2.5%;
    grid-area: Divider;
}

footer, footer p {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #5C5C5C;
    color: white;
    grid-area: footer;
}

html {
    background-color: #1F1F1F;
}/*#F7E8FD#8844D5*/

.pageContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 25px;
    grid-template-areas:
    "header"
    "main"
    "games"
    "footer";
}

.linkContainer {
    grid-area: header;
    display: flex;
    background-color: #5C5C5C;
    width: 500px;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
    float: right;
    margin: 50px 70px 0 0;
    border-radius: 8px;
}

#viewPassCircle {
    position: absolute;
    top: 67px;
    left: 470px;
    border-radius: 100px;
    width: 10px;
    height: 10px;
    background-color: #89BFE2;
    filter: grayscale(100%) ;
}

#futureUpdateButton {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
}

#futureUpdatesContainer, .errorBox {
    position: fixed;
    background-color: #1F1F1F;
    border: 1px solid #89BFE2;
    box-sizing: border-box;
    box-shadow: 4px 4px 6px 3px rgba(137, 191, 226, 0.8);
    top: 25px;
    left: 10px;
    padding: 10px 10px;
}
#futureUpdatesContainer {
    z-index: 2;
}

.errorBox p {
    color: red;
}
.errorBox {
    display: none;
    z-index: 2;
}

.errorBoxVisible {
    display: block;
}

#modalBoxL, #modalBoxR {
    position: fixed;
    background-color: #1F1F1F;
    border: 1px solid #89BFE2;
    box-sizing: border-box;
    box-shadow: 4px 4px 6px 3px rgba(137, 191, 226, 0.8);
}

#closeBox1, #closeBox2, #closeBox3 {
    float: right;
    font-size: 20px;
    margin: 5px 10px 0 0;
    cursor: zoom-out;
}

label {
    padding-left: 5px;
}

input {
    float: right;
    width: 65%;
    margin-right: 2%;
}

.inputContainer {
    margin-top: 2%;
}
#registerButton {
    cursor: pointer;
}
#registerForm {
    margin-top: 30px;
    font-size: 20px;
    padding-bottom: 7%;
    height: 100%;
    width: 100%;
}

#loginButton {
    cursor: pointer;
}
#loginForm {
    margin-top: 30px;
    font-size: 20px;
    padding-bottom: 5%;
    height: 100%;
}

#ActualLoginButton, #creationButton {
    float: left;
    margin: 2% 50% 0 35%;
    background-color: #5C5C5C;
    color: #89BFE2;
    align-self: center;
    width: 30%;
    height: 30%;
    border: 2px solid black;
    border-radius: 8px;
}

@media all and (min-width: 320px) {

    h1 {
        font-size: 3em;
    }

    .gamePanel {
        height: 125px;
        width: 75px;
        position: relative;
        margin-left: 10px;
    }

    .cover {
        height: 125px;
        width: 75px;
    }

    .mainBody {
        margin-left: 0%;
        text-align: center;
        font-size: 20px;
        grid-area: main;
        width: 100%;
    }

    .mainBody p {
        font-size: 20px;
    }

    .linkContainer {
        grid-area: header;
        display: flex;
        background-color: #5C5C5C;
        width: 100%;
        height: 60px;
        justify-content: space-evenly;
        align-items: center;
        font-size: 24px;
        margin: 0 0 0 0;

    }

    .Favorites {
        /*grid-area: Favorites;*/
        width: 100%;
        height: 50%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-gap: 25px;
        grid-template-areas:
    "favoriteLabel favoriteLabel favoriteLabel"
    "favorited favorited favorited";

    }

    .favoriteLabel {
        width: 100vw;
        height: 75px;
        margin-left: 0;
    }

    .labelText {
        transform: rotate(0deg);
        position: absolute;
        margin-left: 7px;
        margin-top: 15px;
        font-size: 40px;
    }

    .Games {
        grid-area: Games;
        margin-bottom: 50px;
        width: 100%;
        height: 50%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-gap: 25px;
        grid-template-areas:
    "gameLabel gameLabel gameLabel"
    "game game game";
    }

    .gameLabel {
        width: 100vw;
        height: 75px;
        margin-left: 0;
    }

    .favStarUnchecked {
        background: url(../img/FavStar.png);
        filter: grayscale(100%);
        border: none;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 85px;
        left: 38px;
        transform: scale(0.8);
    }

    .favStarChecked {
        background: url(../img/FavStar.png);
        filter: grayscale(0%);
        border: none;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 85px;
        left: 38px;
        transform: scale(0.8);
    }

    #modalBoxR {
        width: 300px;
        height: 300px;
        top: 26%;
        left: 4%;
    }

    #modalBoxL {
        width: 300px;
        height: 150px;
        top: 26%;
        left: 4%;
    }

     #creationButton {
        width: 40%;
        height: 20%;
    }



}

@media all and (min-width: 768px) {

    h1 {
        font-size: 4em;
    }

    .gamePanel {
        height: 175px;
        width: 125px;
        position: relative;
    }

    .cover {
        height: 175px;
        width: 125px;
    }

    .mainBody {
        margin-left: 3%;
        text-align: center;
        font-size: 20px;
        grid-area: main;
        width: 720px;
    }

    .mainBody p {
        font-size: 20px;
        margin-left: 5px;
    }

    .linkContainer {
        grid-area: header;
        display: flex;
        background-color: #5C5C5C;
        width: 100%;
        height: 60px;
        justify-content: space-evenly;
        align-items: center;
        font-size: 24px;
        margin: 0 0 0 0;
    }

    .Favorites {
        grid-area: Favorites;
        width: 100%;
        height: 50%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-gap: 25px;
        grid-template-areas:
    "favoriteLabel favorited favorited favorited";
    }

    .favoriteLabel {
        width: 75px;
        height: 175px;
        margin-left: 15px;
    }

    .Games {
        grid-area: Games;
        margin-bottom: 50px;
        width: 100%;
        height: 50%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-gap: 25px;
        grid-template-areas:
    "gameLabel game game game";
    }

    .gameLabel {
        width: 75px;
        height: 175px;
        margin-left: 15px;
    }

    .labelText {
        transform: rotate(-90deg);
        position: absolute;
        margin-top: 68px;
        margin-left: -40px;
    }

    .gameLabelFix {
        margin-left: -10px;
    }
    .favStarUnchecked {
        background: url(../img/FavStar.png);
        filter: grayscale(100%);
        border: none;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 130px;
        left: 80px;
        transform: scale(1);
    }

    .favStarChecked {
        background: url(../img/FavStar.png);
        filter: grayscale(0%);
        border: none;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 130px;
        left: 80px;
        transform: scale(1);
    }

    #modalBoxR {
        width: 500px;
        height: 300px;
        top: 26%;
        left: 17%;
    }

    #modalBoxL {
        width: 500px;
        height: 150px;
        top: 26%;
        left: 17%;
    }

    #ActualLoginButton, #creationButton {
        width: 30%;
        height: 30%;
    }

}

@media all and (min-width: 1024px) {

    .mainBody {
        margin-left: 15%;
        text-align: center;
        font-size: 20px;
        grid-area: main;
        width: 720px;
    }

    .mainBody p {
        font-size: 25px;
    }

    .linkContainer {
        grid-area: header;
        display: flex;
        background-color: #5C5C5C;
        width: 500px;
        height: 60px;
        justify-content: space-evenly;
        align-items: center;
        font-size: 24px;
        float: right;
        margin: 50px 250px 0 0;
    }

    #modalBoxR {
        width: 500px;
        height: 300px;
        top: 26%;
        left: 27%;
    }

    #modalBoxL {
        width: 500px;
        height: 150px;
        top: 26%;
        left: 27%;
    }

}

@media all and (min-width: 1440px) {

    .mainBody {
        margin-left: 25%;
        text-align: center;
        font-size: 20px;
        grid-area: main;
        width: 720px;
    }

    .mainBody p {
        font-size: 30px;
    }

    .linkContainer {
        grid-area: header;
        display: flex;
        background-color: #5C5C5C;
        width: 500px;
        height: 60px;
        justify-content: space-evenly;
        align-items: center;
        font-size: 24px;
        float: right;
        margin: 50px 70px 0 0;
    }

    #modalBoxR {
        width: 500px;
        height: 300px;
        top: 36%;
        left: 35%;
    }

    #modalBoxL {
        width: 500px;
        height: 150px;
        top: 36%;
        left: 35%;
    }

}
