* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    transform: scale(1.5);
    padding: 10px;
}

a {
    font-family: 'VT323', monospace;
    color: #89BFE2;
}

p, label, h2 {
    font-family: 'VT323', monospace;
    font-weight: normal;
    color: #FFFFFF;
}

.recipeButton {
    border: black 1px solid;
    background-color: darkgray;
    color: black;
    width: 60px;
    font-size: 15px;
    margin: 0 48%;
    cursor: zoom-in;
}

#mainItemTree1, #mainItemTree2, #mainItemTree3, #mainItemTree4 {
    border: black 1px solid;
    background-color: #89BFE2;
    color: black;
    width: 60px;
    font-size: 15px;
    margin: 0 48% 0 48%;
    cursor: zoom-in;
    transition: 0.4s;
}

.active, #mainItemTree1:hover, #mainItemTree2:hover, #mainItemTree3:hover, #mainItemTree4:hover {
    background-color: #68a6c6;
}

.panel1, .panel2, .panel3, .panel4 {
    padding: 0 18px;
    /*background-color: white;*/
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 15px;
}

h1 {
    border: #89BFE2 5px solid;
    height: 50px;
    font-family: 'VT323', monospace;
    color: #A439D7;
    background-color: #1F1F1F;
    box-shadow: 4px 4px 6px 3px rgba(137, 191, 226, 0.8);
}

html {
    background-color: #1F1F1F;
    text-align: center;
}

.linkContainer {
    grid-area: header;
    display: flex;
    background-color: #5C5C5C;
    width: 500px;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
    float: right;
    margin: 40px 50px 40px 0;
    border-radius: 8px;
}

.recipeTextCenter {
    float: left;
    margin: 15px 5px 0 10px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;

}

.craftGuideStyleModal {
    margin: 0;
    text-align: start;
    position: fixed;
    background-color: #1F1F1F;
    border: 1px solid #89BFE2;
    box-sizing: border-box;
    box-shadow: 4px 4px 6px 3px rgba(137, 191, 226, 0.8);
    border-radius: 8px;
    width: 300px;
    height: auto;
    top: 15%;
    left: 1%;
}

#closeBox {
    float: right;
    font-size: 20px;
    margin: 5px 10px 0 0;
    cursor: zoom-out;
}

.grayscale {
    filter: grayscale(100%);
}

.ungrayscale {
    filter: grayscale(0%);
}

.mainItem {
    color: #89BFE2;
    font-family: 'VT323', monospace;
}

.itemContainer {
    background-color: #1F1F1F;
    border: #89BFE2 solid 3px;
    box-shadow: 4px 4px 6px 3px rgba(137, 191, 226, 0.8);
    border-radius: 8px;
    text-align: center;
    display: grid;
    /*row-gap: 10px;*/
    grid-template-columns: 100%;
    grid-template-rows: auto;

    grid-template-areas:
    "TSB"
    "Cell"
    "AnkhS"
    "Zenith";

    margin: 0 1%;
    width: 98vw;
    height: auto;
    padding: 20px;
}

#Terraspark_Boots {
    grid-area: TSB;
}

.Terraspark {
    text-align: center;
    display: grid;
    grid-area: TS;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    grid-template-areas:
    "FS .  LW"
    "LB . MC"
    "SB . OSK1";

    margin: 10px 12%;
    width: 1440px;
    height: auto; /*83 vh old*/
}

#Obsidian_Skull1 {
    grid-area: OSK1;
}

#Spectre_Boots {
    grid-area: SB;
}

#Molten_Charm {
    grid-area: MC;
}

#Lightning_Boots {
    grid-area: LB;
}

#Frostspark_Boots {
    grid-area: FS;
}

#Lava_Waders {
    grid-area: LW;
}

.alignTriangle {
    display: grid;
    width: 70px;
    grid-template-columns: 35px 35px;
    grid-template-rows: auto;
    grid-template-areas:
            "TriangleP1 TriangleP2"
            "TriangleP1 TriangleP2";
}
#triangleP1 {
    grid-area: TriangleP1;
}
#triangleP2 {
    grid-area: TriangleP2;
    align-self: center;
}

.alignSquare {
    display: grid;
    width: 70px;
    grid-template-columns: 35px 35px;
    grid-template-rows: auto;
    grid-template-areas:
            "SquareP1 SquareP2"
            "SquareP1 SquareP2";
}
#squareP1 {
    grid-area: SquareP1;
}
#squareP2 {
    grid-area: SquareP2;
}

#Cell_Phone {
    grid-area: Cell;
}

.Cellphone {

    display: grid;
    grid-area: CP;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    grid-template-areas:
    ". PDA PDA ."
    "GPS REK GT FF"
    "W . . .";

    margin: 10px 11%;
    width: 1440px;
    height: auto;

}

#Platinum_Watch {
    grid-area: W;
    margin-left: 125px;
}

#Gold_Watch {
    grid-area: W;
    margin-right: 125px;
}

#GPS {
    grid-area: GPS;
}

#REK3K {
    grid-area: REK;
}

#Goblin_Tech {
    grid-area: GT;
}

#Fish_Finder {
    grid-area: FF;
}

#PDA {
    grid-area: PDA;
}

#Ankh_Shield {
    grid-area: AnkhS;
}

.AnkhShield {
    display: grid;
    grid-area: AS;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    grid-template-areas:
    ". OS AC ."
    ".OSK2 B ."
    "AB MB CCM TP";

    margin: 10px 12%;
    width: 1440px;
    height: auto;
}

#Ankh_Charm {
    grid-area: AC;
}

#Obsidian_Shield {
    grid-area: OS;
}

#Blindfold {
    grid-area: B;
}

#Obsidian_Skull2 {
    grid-area: OSK2;
}

#Armor_Bracing {
    grid-area: AB;
}
#Medicated_Bandage {
    grid-area: MB;
}
#Countercurse_Mantra {
    grid-area: CCM;
}
#The_Plan {
    grid-area: TP;
}

#Zenith {
    grid-area: Zenith;
}

.Zenith {

    display: grid;
    grid-area: Zen;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 10px;
    grid-template-areas:
    ". SD THB IW SW M . . ."
    "TerB TerB CS SF ES BK . . ."
    "TE TNE . . . . . . ."
    "E NE . . . . . . ."
    "CB BoG Mur FG LB BB . . .";

    margin: 10px 10%;
    width: 1440px;
    height: auto;
}

#Blade_of_Grass {
    grid-area: BoG;
}
#Muramasa {
    grid-area: Mur;
}
#Fiery_Greatsword {
    grid-area: FG;
}
#Lights_Bane {
    grid-area: LB;
}
#Blood_Butcherer {
    grid-area: BB;
}
#Chlorophyte_Bar {
    grid-area: CB;
}
#Excalibur {
    grid-area: E;
}
#True_Excalibur {
    grid-area: TE;
}
#Nights_Edge {
    grid-area: NE;
}
#True_Nights_Edge {
    grid-area: TNE;
}
#Terra_Blade {
    grid-area: TerB;
}
#Copper_Shortsword {
    grid-area: CS;
}
#Starfury {
    grid-area: SF;
}
#Enchanted_Sword {
    grid-area: ES;
}
#Bee_Keeper {
    grid-area: BK;
}
#Seedler {
    grid-area: SD;
}
#The_Horsemans_Blade {
    grid-area: THB;
}
#Influx_Waver {
    grid-area: IW;
}
#Star_Wrath {
    grid-area: SW;
}
#Meowmere {
    grid-area: M;
}

