* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    transform: scale(1.5);
    padding: 10px;
}

a {
    font-family: 'VT323', monospace;
    color: #89BFE2;
}

p, label {
    font-family: 'VT323', monospace;
    color: #FFFFFF;
}

.recipeButton {
    border: black 1px solid;
    background-color: darkgray;
    color: black;
    width: 60px;
    font-size: 15px;
    margin: 0 48%;
    cursor: zoom-in;
}

h1 {
    border: #89BFE2 5px solid;
    height: 50px;
    font-family: 'VT323', monospace;
    color: #A439D7;
    background-color: #1F1F1F;
    box-shadow: 4px 4px 6px 3px rgba(137, 191, 226, 0.8);
}

html {
    background-color: #1F1F1F;
    text-align: center;
}

.linkContainer {
    grid-area: header;
    display: flex;
    background-color: #5C5C5C;
    width: 500px;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
    float: right;
    margin: 50px 70px 0 0;
}

.craftGuideStyleModal {
    margin: 0;
    text-align: start;
    position: fixed;
    background-color: #1F1F1F;
    border: 1px solid #89BFE2;
    box-sizing: border-box;
    box-shadow: 4px 4px 6px 3px rgba(137, 191, 226, 0.8);
    width: 500px;
    height: 500px;
    top: 36%;
    left: 35%;
}

#closeBox {
    float: right;
    font-size: 20px;
    margin: 5px 10px 0 0;
    cursor: zoom-out;
}

.grayscale {
    filter: grayscale(100%);
}

.ungrayscale {
    filter: grayscale(0%);
}

.mainItem {
    color: #89BFE2;
    font-family: 'VT323', monospace;
}

.itemContainer {
    background-color: #1F1F1F;
    border: #89BFE2 solid 3px;
    box-shadow: 4px 4px 6px 3px rgba(137, 191, 226, 0.8);
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    grid-template-areas:
    "TS"
    "CP"
    "AS"
    "Zen";

    width: 100vw;
    height: auto;
}

.Terraspark {
    text-align: center;
    display: grid;
    grid-area: TS;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    grid-template-areas:
    ". TSB ."
    "FS .  LW"
    "LB . MC"
    "SB . OSK1";


    width: 100vw;
    height: auto; /*83 vh old*/
}

#ObsidianSkull1 {
    grid-area: OSK1;
}

#SpectreBoots {
    grid-area: SB;
}

#MoltenCharm {
    grid-area: MC;
}

#LightningBoots {
    grid-area: LB;
}

#Frostspark {
    grid-area: FS;
}

#LavaWaders {
    grid-area: LW;
}

#TerraSparkBoots {
    grid-area: TSB;
}

.alignTriangle {
    display: grid;
    width: 70px;
    grid-template-columns: 35px 35px;
    grid-template-rows: auto;
    grid-template-areas:
            "TriangleP1 TriangleP2"
            "TriangleP1 TriangleP2";
}
#triangleP1 {
    grid-area: TriangleP1;
}
#triangleP2 {
    grid-area: TriangleP2;
    align-self: center;
}

.alignSquare {
    display: grid;
    width: 70px;
    grid-template-columns: 35px 35px;
    grid-template-rows: auto;
    grid-template-areas:
            "SquareP1 SquareP2"
            "SquareP1 SquareP2";
}
#squareP1 {
    grid-area: SquareP1;
}
#squareP2 {
    grid-area: SquareP2;
}

.Cellphone {

    display: grid;
    grid-area: CP;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    grid-template-areas:
    ". P P ."
    ". PDA PDA ."
    "GPS REK GT FF";

    width: 100vw;
    height: auto;

}

#GPS {
    grid-area: GPS;
}

#REK3K {
    grid-area: REK;
}

#GoblinTech {
    grid-area: GT;
}

#FishFinder {
    grid-area: FF;
}

#PDA {
    grid-area: PDA;
}

#Phone {
    grid-area: P;
}

.AnkhShield {
    display: grid;
    grid-area: AS;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    grid-template-areas:
    ". OS AC ."
    ".OSK2 B ."
    "AB MB CCM TP";

    width: 100vw;
    height: auto;
}

#AnkhCharm {
    grid-area: AC;
}

#ObsidianShield {
    grid-area: OS;
}

#Blindfold {
    grid-area: B;
}

#ObsidianSkull2 {
    grid-area: OSK2;
}

#ArmorBracing {
    grid-area: AB;
}
#MedicatedBandage {
    grid-area: MB;
}
#CounterCurse {
    grid-area: CCM;
}
#ThePlan {
    grid-area: TP;
}
#AnkhShield {
    grid-area: CAS;
}

.Zenith {

    display: grid;
    grid-area: Zen;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    grid-template-areas:
    "NE NE NE"
    "TerB TerB TerB"
    "Z Z Z"
    "Z Z Z";

    width: 100vw;
    height: auto;
}

#createNightsEdge {
    grid-area: NE;
}

#createTerrablade {
    grid-area: TerB;
}

#createZenith {
    grid-area: Z;
}
