* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    transform: scale(1.5);
    padding: 10px;
}

.linkButtons {
    transform: scale(1);
    padding: 0;
}

p {
    font-family: 'Saira Stencil One', cursive;
    font-size: 15px;
    color: #0007a1;

}

.recipeButton {
    border: black 1px solid;
    background-color: darkgray;
    color: black;
    width: 60px;
    font-size: 10px;
    margin: 0 40% 5% 40%;
    cursor: zoom-in;
}

h1 {
    border: #0007a1 5px solid;
    height: 50px;
    font-family: 'Saira Stencil One', cursive;
    color: #0007a1;
    background-color: #00cbff;
}

html {
    background-color: #ac1616;
    text-align: center;
}/*#F7E8FD*/

/* return of the navbar */
/* style the navbar */
#navbar {
    overflow: hidden;
    background-color: #8844D5;
    border: 2px solid #6F04BF;
    display: flex;
    justify-content: center;

}
/* Navbar Links */
#navbar a {
    width: 15%;
    text-align: center;
}

/* Shine */
.Shine {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    padding: 1em;
}
.Shine figure {
    position: relative;
    overflow: hidden;
}
/*255,255,255,0*/
/*243,212,0,0*/
/*136,63,213,0*/

.Shine figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 95%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.Shine figure:hover::before {
    -webkit-animation: shine 1.5s;
    animation: shine 1.5s;
}
@-webkit-keyframes shine {
    100% {
        left: 100%;
    }
}
@keyframes shine {
    100% {
        left: 100%;
    }
}

.craftGuideStyle {
    background-color: #00cbff;
    border: #005d7a 5px solid;
    margin: 0;
    text-align: start;
}

.grayscale {
    filter: grayscale(100%);
}

.ungrayscale {
    filter: grayscale(0%);
}

.pageContainer1 {
    background-color: #0E5F07;
    border: #268b00 solid 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

    grid-template-areas:
    "TS TS TS TS TS";

    width: 98vw;
    height: auto; /*83, 90 vh old*/
    margin: 1em;
}


.Terraspark {
    float: left;
    text-align: center;
    display: grid;
    grid-area: TS;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: /*50px*/auto auto auto;
    grid-gap: 10px;
    grid-template-areas:
    "CraftGuide1 TST TST TST"
    "CraftGuide1 FS .  LW"
    "CraftGuide1 FS TS LW";


    width: 94vw;
    height: 80vh; /*83 vh old*/
    margin: 1em 0 1em 0;
}

#terraSparkTitle {
    grid-area: TST;
}

#itemCraftGuideBar1 {
    grid-area: CraftGuide1;
}

.alignTriangle {
    display: grid;
    width: 70px;
    grid-template-columns: 35px 35px;
    grid-template-rows: auto;
    grid-template-areas:
            "TriangleP1 TriangleP2"
            "TriangleP1 TriangleP2";
}
#triangleP1 {
    grid-area: TriangleP1;
}
#triangleP2 {
    grid-area: TriangleP2;
    align-self: center;
}

.alignSquare {
    display: grid;
    width: 70px;
    grid-template-columns: 35px 35px;
    grid-template-rows: auto;
    grid-template-areas:
            "SquareP1 SquareP2"
            "SquareP1 SquareP2";
}
#squareP1 {
    grid-area: SquareP1;
}
#squareP2 {
    grid-area: SquareP2;
}


#createFrostspark {
    grid-area: FS;
}

#createLavaWaders {
    grid-area: LW;
}

#createTerraSpark {
    grid-area: TS;
}

.pageContainer2 {
    background-color: #0E5F07;
    border: #268b00 solid 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

    grid-template-areas:
    "CP CP CP CP CP CP";

    width: 98vw;
    height: auto; /*83, 90 vh old*/
    margin: 1em;
}

.Cellphone {

    display: grid;
    grid-area: CP;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px auto auto auto;
    grid-gap: 10px;
    grid-template-areas:
    "CraftGuide2 CT CT CT CT"
    "CraftGuide2 GPS REK GT FF"
    "CraftGuide2 GPS REK GT FF"
    "CraftGuide2 . P P .";



    height: 80vh; /*83 vh old*/
    margin: 1em 0 1em 0;
}

#cellphoneTitle {
    grid-area: CT;
}

#itemCraftGuideBar2 {
    grid-area: CraftGuide2;
}

#createGPS {
    grid-area: GPS;
}

#createREK3K {
    grid-area: REK;
}

#createGoblinTech {
    grid-area: GT;
}

#createFishFinder {
    grid-area: FF;
}

#createPhone {
    grid-area: P;
}

.pageContainer3 {
    background-color: #0E5F07;
    border: #268b00 solid 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

    grid-template-areas:
    "AS AS AS AS AS AS";

    width: 98vw;
    height: auto; /*83, 90 vh old*/
    margin: 1em;
}


.AnkhShield {
    display: grid;
    grid-area: AS;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px auto auto auto;
    grid-gap: 10px;
    grid-template-areas:
    "CraftGuide3 AST AST AST AST"
    "CraftGuide3 AB MB CCM TP"
    "CraftGuide3 AB MB CCM TP"
    "CraftGuide3 CAS CAS CAS CAS";

    height: 80vh; /*83 vh old*/
    margin: 1em 0 1em 0;
}

#ankhShieldTitle {
    grid-area: AST;
}
#itemCraftGuideBar3 {
    grid-area: CraftGuide3;
}

#createArmorBracing {
    grid-area: AB;
}
#createMedicatedBandage {
    grid-area: MB;
}
#createCounterCurse {
    grid-area: CCM;
}
#createThePlan {
    grid-area: TP;
}
#createAnkhShield {
    grid-area: CAS;
}

.pageContainer4 {
    background-color: #0E5F07;
    border: #268b00 solid 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

    grid-template-areas:
    "Zen Zen Zen Zen Zen Zen";

    width: 98vw;
    height: auto; /*83, 90 vh old*/
    margin: 1em;
}

.Zenith {

    display: grid;
    grid-area: Zen;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px auto auto auto;
    grid-gap: 10px;
    grid-template-areas:
    "CraftGuide4 ZT ZT ZT"
    "CraftGuide4 NE NE NE"
    "CraftGuide4 TerB TerB TerB"
    "CraftGuide4 Z Z Z"
    "CraftGuide4 Z Z Z";

    height: 80vh; /*83 vh old*/
    margin: 1em 0 1em 0;
}

#zenithTitle {
    grid-area: ZT;
}

#itemCraftGuideBar4 {
    grid-area: CraftGuide4;
}

#createNightsEdge {
    grid-area: NE;
}

#createTerrablade {
    grid-area: TerB;
}

#createZenith {
    grid-area: Z;
}

#createNightsEdge img, #createTerrablade img, #createZenith img  {
     transform: scale(1);
 }